<!DOCTYPE html>
<html>
  <head>
    <title>HuntersHuntingHuntersLlc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header nav">
      <%= render 'layouts/nav_bar' %>
    </div>

    <div class="flash">
      <%= render 'layouts/flash_display' %> 
    </div>

    <%= yield %>
  </body>
</html>
